<div class="row">
    <div class="col-12">
        <img src="../../assets/images/oduller.jpg" style="width: 100% !important;"/>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-12">
        <h4>
            Sanayii çarklarının arasında ve paranın kendine has dünyasında
            çalışan iki kadının işbirliği...
        </h4>

        <p>
            Öyle bir dünyaydı ki geldiğimiz yer; yurt içi, yurt dışı büyük
            projelere hayat vererek büyürken de, yeni ve farklı bakışlar
            yaratırken de, ekonominin krizler dahil gel-gitlerinde, zorun
            kucağında, çıkmaz sokak aralarında da, ya da önümüzde açılan uzun
            davetkar yollarda koşarken de hep birlikte ve hep eleleydik.
        </p>
        <p>20 yıl böyle geçti...</p>
        <p>
            Bundan kısa zaman önce bir yaz zamanında tüm uğraşların yanında,
            doğanın kucağının çağırdığını hissetti ruhumuz. Aslında hep vardı
            ama hobi uğraşıydı zeytin bahçelerimiz. Artık başka bir sevdaydı
            zeytin ağaçlarına bakışımız...
        </p>

        <p>
            10 ağustos 2017 tarihinde kurduk şirketimizi;<br>
            GÜLOYA Tarım Gıda Sanayi ve Ticaret A.Ş
        </p>
        <p>
            Güney Marmara Bölgesinin en göz alıcı zeytinliklerinin yer aldığı
            Hasköy, Dedeköy'de 70 dönümlük arazilerimiz üzerinde, olgunundan
            gencine yüzlerce ağacımıza sarıldık sanki...
        </p>

        <p>
            Onlarca kitap okuyor, seminerlere iştirak ediyor, üniversite öğretim
            görevlileri, danışmanlar, köylü, işçi, alıcı, satıcı bu işle kim
            uğraşıyorsa dinliyorduk. Sektörün makina üreticileri, sektör
            bankaları, yağ - zeytin üreticileri peşinde onların bilgi ve
            tecrübelerini adeta yutuyorduk. Farklı zeytin bölgeleri, Kuzey Ege,
            Güney Ege keşiflerimiz, yurt içi ve yurt dışı fuarlar ile beslendik,
            beslendik, beslendik...
        </p>

        <p>
            Bu koşuşturmalar sırasında kurumsallaşma çalışmalarımız da hızla
            devam ediyordu. Marka oluşumu(Güloya), tescilleme, grafik
            tasarımlar, kamu kurum ve ilişkileri, ürün ve toprak tetkikleri,
            laboratuvar çalışmaları, arazi yeraltı-üstü su yolu tespitleri,
            kayıtlı üretim aşamalarının tamamlanması, takip ve izleme...
        </p>

        <p>
            2018 yılı son çeyrek itibariyle butik yağ makinamızı ve tesisimizi
            de devreye aldıktan sonra ürünü almaya hazırdık biz.
        </p>

        <p>Ekim 2018!</p>
        <p>
            Erken hasat ilk ürünleri almaya başladığımızda da yüzümüz gülüyordu
            artık. Her sabah 07.00'da başlayıp gün boyunca ağaçlarımızı üzmeyen
            toplama yöntemleri ile topladığımız ürünlerimiz, hiç bekletilmeden
            boy ayırmaya ve oradan da yine arazimiz içerisinde bulunan ve sadece
            kendi ürünlerimiz için kullandığımız yağ tesisimize girmiş ve
            bekletmeden yağ sıkma sürecimiz de başlamıştı. Ortalama 3,5 saatte
            soğuk sıkım elde ettiğimiz zeytinyağı ürünümüzün asit ölçümleri 0,2
            dizem(asitlik değer) sonucunu verdi. Dizem ne kadar az ise
            zeytinyağı o kadar değerlidir. Bu sonuç ise "1.Sınıf Extra Virgin
            Sızma Zeytinyağı" demekti. Danışman ve tadımcılarımızın ifadesi ile
            sofralık zeytinleri ile ünlü bölgemiz güney Marmara'nın en
            nefasetli, asit değeri ise en düşük zeytinyağını elde ettik.
        </p>

        <p>
            Tüm bu çalışmalarımızda hep global düşündük, yerelde uyguladık.
            Şimdi ise Anadolunun güneşli topraklarına doğru sürprizli yeni
            lezzet yolculuklarımız var. Şayet yönü belirleyecek haritanız yoksa
            yeni hedefe ulaşmak mümkün değildir. Bizde süreklilik, farklılık ve
            hedeflerimize ulaşmak için, anavatanı Anadolu olan bu kutsal ağacın
            meyvası zeytini, yağını ve tüm çıktılarını istiyoruz ki; bir kez de
            bizim elimizden diğer dünya coğrafyaları tanısın...
        </p>

        <p>
            Yani; Çalışıyoruz <br>
            Çalışmalıyız<br>
            Çalışacağız <br>
        </p>
        <p>
            Saygılarımızla, Sevgilerimizle <br>
            Güloya A.Ş
        </p>
    </div>
</div>