<div class="row">
    <div class="col-12">
        <h3>Ürünlerimiz</h3>
    </div>
    <div class="col-12">
        Trendyol mağazamızı ziyaret etmek için <a target="_blank"
                href="https://www.trendyol.com/magaza/guloya-m-727615">tıklayın!</a>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="thumbnail">
            <img class="rounded" src="../../assets/images/1.jpg" alt="1" />
            <p><strong>Erken hasat sızma zeytinyağımız 1 litre şişe ve 3 litre teneke ambalajlarıyla
                    mevcuttur.</strong></p>
            <p></p>
        </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="thumbnail">
            <img class="rounded" src="../../assets/images/2.jpg" alt="2" />
            <p><strong>Zeytinde tek tip üretimimiz olup imalatımız az tuzlu kuru seledir.</strong></p>
            <p></p>
        </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="thumbnail">
            <img class="rounded" src="../../assets/images/3.jpg" alt="3" />
            <p><strong>Altın madalyalı zeytinyağımız erken hasattır.</strong></p>
            <p></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>Alabanda</h3>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="thumbnail">
            <img class="rounded" src="../../assets/images/4.jpg" alt="1" width="400" height="300" />
            <p><strong>Ege yağ çeşidimiz "Alabanda".</strong></p>
            <p><strong>Alabanda, antik çağda Karia Bölgesinin en görkemli kentlerindendir. Karia dilinde
                    "zafer atı" anlamına geldiği belirtilir.</strong></p>
        </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="thumbnail">
            <img class="rounded" src="../../assets/images/5.jpg" alt="2" width="400" height="300" />
            <p><strong>Alabanda kenti çevresinde rastlanan zeytin ağaçları ve zeytinyağı işlikleri,
                    zeytinyağının Alabanda'nın ihtişamlı dönemlerinde kent ekonomisinin en önemli
                    unsurlarından biri olduğunu kanıtlamaktadır.</strong></p>
            <p>
                <strong>
                    Yöremizde Alabanda'nın görkemli zamanlarına tanıklık etmiş en yaşlı zeytin ağaçlarımızın
                    meyvelerini erken hasat ederek sofralarınıza getirdik.
                </strong>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>2022-2023 I. Özel Ürünümüz
            Antiochia</h3>

    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="thumbnail">
            <img class="rounded" src="../../assets/images/antiochia.jpg" alt="antiochia"
                style="width: 100%; height: 435px" />
            <p>2022-2023 Birinci Özel ürünümüz</p>
            <p>Anadolunun bereketli topraklarından...</p>
            <p><strong>TÜRKİYE'nin güneyinin güzel Antakya'sında, muhteşem Musa Dağı'nın eteklerinde sadece
                    doğanın
                    gücü
                    ile özgürce büyüyen antik ağaçları keşfettik. Halhalı zeytininden erken hasat olarak
                    ürettik.
                    Adını
                    <b style="font-weight: 1000 !important;">"ANTIOCHIA"</b> koyduk (M.Ö. 300 yıllarında
                    Büyük İskender'in komutanlarından
                    Seleucus
                    Nicator
                    tarafından kurulan Antakya'nın antik ismi).</strong>
            </p>
            <p><strong>Rengi, kokusu, lezzeti ve antioksidan etkisi ile sizlere sunuyoruz.</strong></p>
            <p><strong>Gurur ve sevgi ile...</strong></p>
        </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="thumbnail">
            <img class="rounded" src="../../assets/images/hatay.jpg" alt="antiochia"
                style="width: 100%; height: 435px" />
            <p>2022-2023 Our First Special Product</p>
            <p>From the fertile lands of Anatolia...</p>
            <p><strong>
                    We discovered ancient trees growing freely with the power of nature alone at the foot of
                    the
                    magnificent Mount Musa in beautiful Antakya in southern Turkey. We produced it as an
                    early
                    harvest
                    from Halhalı olives. We named it <b style="font-weight: 1000 !important;">"ANTIOCHIA"</b> (ancient
                    name of Antakya,
                    which was
                    founded
                    by
                    Seleucus
                    Nicator, one of the commanders of Alexander the Great in 300 BC).</strong></p>
            <p><strong>We present it to you with its color, smell, taste and antioxidant effect.</strong>
            </p>
            <p><strong>With pride and love...</strong></p>
        </div>
    </div>
</div>